extends layout

block content
  
    if (!config.searchApiKey)
        p search service is not available
    else  
        div(class="row")
            p #{count} results for '#{keyword}'
            if (results)
                table.table.table-striped
                    tr
                        th search score
                        th file name
                        th author
                        th size (byte)
                    each item in results
                        tr
                            td #{item.score}
                            td
                                a(href='/sas?f=#{item.file}') #{item.file}
                            td #{item.author}
                            td #{item.fileSize}

            div(class="d-block mx-auto")
                if (pagecount)
                    nav(aria-label="Page navigation")
                        ul(class="pagination justify-content-center")
                            - var startp = page - 4 > 1 ? page - 4 : 1; 
                            - var end_p = startp + 4
                            - var n = startp - 1
                            if (end_p > pagecount)
                                - end_p = pagecount 
                            if (startp > 1)
                                - var prev = startp - 1
                                li.page-item
                                    a.page-link(href="/search?keyword=#{keyword}&page=#{prev}") prev

                            while n++ < end_p
                                if (n == page)
                                    li.page-item.active
                                        a.page-link(href="#") #{n}
                                else
                                    li.page-item
                                        a.page-link(href="/search?keyword=#{keyword}&page=#{n}") #{n} 
                                            
                            if (end_p < pagecount)
                                - var next = end_p + 1
                                li.page-item
                                    a.page-link(href="/search?keyword=#{keyword}&page=#{next}") next
                    //| page #{startp}, #{end_p}, #{pagecount}