extends layout

block content

    p #{count} files in this blob
    table.table.table-striped
        tr
            th 
                a(href="/list?s=name") file name
            th
                a(href="/list?s=date") date
            th size (byte)
        each item in blobs
            tr
                td
                    a(href='/sas?f=#{item.name}') #{item.name}
                td #{item.lastModified}
                td #{item.contentLength}
    
    